@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400');

$nav-color: #21B5E1;

button {
	cursor: pointer;
	font-family: 'Raleway', sans-serif!important;
	font-size: 1.1em;
	font-weight: 300!important;	
	&:hover {
		opacity: 0.9;
	}
}

.btn-hotran-info {
	border-color: $nav-color;
	&:hover {
		background-color: darken($nav-color, 10%)!important;
	}
}

.navbar {
	background-color: $nav-color;
	.navbar-brand {
		.site-title {
			font-family: 'Architects Daughter', cursive;
			font-size: 1.5em;
		}
		.beta {
			font-size: 0.7em;
			font-style: italic;
		}
		&:hover {
			transition: color .5s;
			color: darken(white, 5%);
		}
	}
	.nav-item {
		.nav-link {
			color: #fff;
			font-size: 1.2em;
			font-weight: 400;
			font-family: 'Raleway', sans-serif;
			margin: 0 0.5em;
			&:hover {
				transition: color .5s;
				color: lighten(black, 20%);
			}
		}
	}
}
.footer {
	text-align: center;
}
.hotran-container {	
	font-family: 'Exo 2', sans-serif;
}
.about {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: 300;
	margin: .5em 0;
}
.today-hotrans, .search-hotrans {
	margin: 1em 0;
    font-size: 1.3em;
    font-weight: 700;
}
.hotran-update {
	$percent: 10%;
	font-family: 'Raleway', sans-serif;
	animation: flick 1s infinite;
	@keyframes flick {		
		25% {
			color: darken(white, $percent);
		}
		50% {
			color: lighten(white, $percent);
		}
		75% {
			color: darken(white, $percent);
		}
		100% {
			color: lighten(white, $percent);
		}
	}	
}
.hotran-search-warning {
	font-size: 0.8em;
	font-style: italic;
}
.hotran-btn-submit {
	color: #fff;
	background-color: $nav-color;
}
.modal {
	.modal-content {
		@media screen and (min-width: 768px) {
			width: 720px;
		}
	}
	.modal-title {
		font-family: 'Exo 2', sans-serif;
		font-size: 1.5em;
	}
	.modal-body {
		font-family: 'Exo 2', sans-serif;
		font-weight: 300;
	}
}
.loading {
	display: block;
	width: 100%;	
	img {
		max-width: 200px;
	}
}