<!DOCTYPE html>
<html>
<head>
    <title>Autohotran 2.0</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script async defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script type="text/javascript">        
        (function($) {
            $(document).ready(function() {
                $(document).on("click", ".information", function() {
                    alert( $(this).attr("title") );
                });

                Vue.component("loading", {
                    template: "<div style='text-align: center; margin: 0 0 1em 0' class='loading'><i style='font-size: 32px' class='fa fa-circle-notch fa-spin'></i></div>",
                });
                
                Vue.component("no-data", {
                    template: `
                        <div style='text-align: center'><h3>Não há dados no sistema.</h3></div>
                    `
                });

                Vue.component("floating-button", {
                    template: `
                        <button class="btn"><i class="fas fa-chevron-up"></i></button>
                    `
                });

                Vue.component("hotran-table", {
                    props: ['hotrans'],
                    template: `
                    <div class="table-responsive">                        
                        <table class="table table-bordered text-center">
                            <thead>
                                <th>Empresa/Voo</th>        
                                <th class="w-15">Aeronave</th>        
                                <th class="w-15">Data Solicitação</th>
                                <th>A Vigorar</th>
                                <th class="w-15">Origem</th>
                                <th class="w-15">Destino</th>
                                <th class="w-25">Frequência</th>
                            </thead>
                            <tbody>
                                <tr v-for="hotran of hotrans">            
                                    <td>{{ hotran.CodEmpresa }}-{{ hotran.NumeroVoo }} <i v-bind:title="hotran.NomeEmpresa + ' - ' + 'Voo de ' + hotran.Tipo" class="far fa-question-circle information"></i></td>
                                    <td>{{ hotran.Equipamento }} ({{ hotran.Passageiros }} pax)</td>
                                    <td>{{ hotran.DataSolicitacao }}</td>
                                    <td>{{ hotran.DataInicio }}</td>
                                    <td>{{ hotran.CodOrigem }} ({{ hotran.HoraPartida }}) <span class="information" v-bind:title="'Aeroporto: ' + hotran.NomeOrigem"><i class="far fa-question-circle"></i></span></td>
                                    <td>{{ hotran.CodDestino }} ({{ hotran.HoraChegada }}) <span class="information" v-bind:title="'Aeroporto: ' + hotran.NomeDestino" ><i class="far fa-question-circle"></i></span></td>
                                    <td>{{ hotran.Frequencia }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>`,
                });

                Vue.component("load-more", {
                    props: ['hotrans', 'url', 'limit', 'offset', 'order', 'fetch'],
                    methods: {
                        fetchData: function() {                            
                            let options = {limit: this.limit, offset: this.offset, order: this.order};
                            this.$parent.loading = true; 
                            this.$parent.fetch(this.url, options).then(this.$parent.fixFetchedHotranData);
                        }
                    },
                    template: `
                        <div style='text-align: center'><button v-on:click="fetchData" class="btn btn-themed">Carregar Mais Dados</button></div>
                    `
                });

                var app = new Vue({
                    el: "#app",
                    data: {
                        dataUrl: "./hotrans/fetch",
                        hotrans: [],
                        view: 'hotran-tab',
                        loading: true,
                        limit: 50,
                        offset: 0,
                        order: [["DataSolicitacao", "DESC"]],
                    },
                    filters: {
                        search: function(value) {

                        }
                    },
                    methods: {
                        daysOfWeek: function() {
                            return ["Seg", "Ter", "Qua", "Qui", "Sex", "Sab", "Dom"];
                        },
                        fixHotranData: function(hotrans) {
                            hotrans = hotrans.filter(hotran => {
                                hotran.Tipo = hotran.Tipo.charAt(0).toUpperCase() + hotran.Tipo.slice(1).toLowerCase();
                                hotran.DataSolicitacao = moment(hotran.DataSolicitacao).format("DD/MM/YYYY (HH:MM)");
                                hotran.DataInicio = moment(hotran.DataInicio).format("DD/MM/YYYY");
                                hotran.DataFim = moment(hotran.DataFim).format("DD/MM/YYYY");
                                hotran.Frequencia = Object.keys(hotran).filter(key => { return this.daysOfWeek().includes(key) && hotran[key] > 0 })
                                hotran.Frequencia = hotran.Frequencia.length == this.daysOfWeek().length ? "Diário" : hotran.Frequencia.join(", ");
                                return hotran;
                            });

                            return hotrans;
                        },
                        fixFetchedHotranData: function(hotrans) {
                            hotrans = this.fixHotranData(hotrans);
                            hotrans.forEach((hotran, index) => {
                                this.hotrans.push(hotran);                                    
                            });

                            this.loading = false;
                        },
                        fetchHotranDataCallback: function(hotrans) {
                            this.hotrans = hotrans;
                            this.hotrans = this.fixHotranData(this.hotrans);
                            this.loading = false;
                        },
                        fetch: function(url, options) {
                            this.offset += this.limit;
                            return new Promise((resolve, reject) => {
                                $.ajax({
                                    url: url,
                                    data: options,
                                    success: function(data) {                                        
                                        resolve(data);
                                    }
                                })
                            });
                        }
                    },
                    mounted: function() {
                        this.fetch(this.dataUrl, {limit: this.limit, offset: this.offset, order: this.order}).then(this.fetchHotranDataCallback);
                    }                    
                });
            })
        })(jQuery)
    </script>
</head>
<body>
<div class="modal fade" tabindex="-1" role="dialog" id="about-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sobre o Autohotran</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Este site é responsável por reunir as solicitações de HOTRAN (horário de transporte) das companhias aéreas que voam de e para o Brasil, a fim de informar os usuários de novos voos ou alterações dos mesmos. O site é atualizado automaticamente logo que novas informações forem disponibilizadas.</p>          
                <p>Atualmente, apenas os lançamentos são mostrados, não havendo possibilidade de distinção entre inclusão ou alteração.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-themed" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars toggler-icon"></i>
    </button>
    <ul class="nav navbar-nav mx-auto">
        <li class="nav-item">
            <a class="site-title">AutoHotran v2</a></li>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarToggler">        
        <ul class="nav navbar-nav ml-auto">            
            <li class="nav-item">
              <a class="nav-link btn" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn disabled" href="#">Pesquisa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#about-modal" href="#">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link last-update">Última Atualização: &nbsp;&nbsp;<%- lastUpdate %></a></li>
            </li>
        </ul>
    </div>
</nav>
<div class="container" id="app">
    <div class="notifier"><loading v-show="loading"></loading></div>
    <div class="content">