@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');

#navigation {
    background-color: #DB4437;
}

.btn-themed {
    background-color: #DB4437;
    color: white;
}

#navigation .toggler-icon {
    color: #ffffff;
}

#navigation .nav-link,
.site-title {    
    color: #ffffff!important;
    text-transform: uppercase;
}

@media screen and (min-width: 992px) {
    #navigation .nav-item {
        margin: 0 .3em;    
    }
}

#navigation .nav-link {
    font-weight: 400;
}

.site-title {    
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
    font-weight: 300;    
}

.information > svg,
svg.information {
    background-color: blue;
    border-radius: 90%;
    color: white;
    cursor: pointer;
}

#app {
    padding: 5em 0;
}

th {
    font-family: 'Quicksand', sans-serif;
}

td {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

th.w-15 {
    width: 15%!important;
}

table.text-center th,
table.text-center td {
    text-align: center;
}