<% include ../partials/header %>
<hotran-table :hotrans="hotrans" v-show="hotrans.length > 0"></hotran-table>
<load-more v-show="!loading" :hotrans="hotrans" :url="dataUrl" :limit="limit" :offset="offset" :order="order" fetch=fetch></load-more></div>
<loading v-show="loading && hotrans.length > 0"></loading>
<% include ../partials/footer %>