<!DOCTYPE html>
<html>
<% include ../partials/header.ejs %>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108454703-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-108454703-1');
	</script>
	<title>Autohotran Beta!</title>
	<script type="text/javascript">
		(function($) {
			$(document).ready(function() {
				moment.tz.add("America/Fortaleza");
				var app = new Vue({
					el: "#hotran-app",
					data: {
						hotrans: [],
						hotranDetails: {},
						todayHotrans: [],
						views: {
							today: true,
							search: false,
						},		
						data: {
							companies: [],
							airports_origin: [],
							airports_destination: [],
							types: [],
							aircrafts: [],
						},
						hotran_details: [],
						hotran_company: '',
						hotran_airport_origin: '',
						hotran_airport_destination: '',						
						hotran_type: '',
						hotran_aircraft: '',
						hotran_date: '',
					},
					methods: {
						getFormattedDate(string) {
							var date = moment(string, 'YYYY-MM-DD').format('DD/MM/YYYY');
							return date;
						},
						toggleModal: function(hotran) {							
							var params = {
								cod_hotran: hotran.cod_hotran,
								voo: hotran.voo,
								data_solicitacao: moment(hotran.data_solicitacao, 'YYYY-MM-DD').format('YYYY-MM-DD')
							};
							this.$http.get('/hotran/merge', {params: params}).then(response => {
								var voos = response.body;
								this.hotranDetails = voos;
								for( let i in this.hotranDetails ) 
								{
									this.hotranDetails[i]['daysDetails'] = '';
									for( let d in this.hotranDetails[i].days ) 
									{
										var day = '';
										switch(d)
										{
											case 0: day = '2ª'; break;
											case 1: day = '3ª'; break;
											case 2: day = '4ª'; break;
											case 3: day = '5ª'; break;
											case 4: day = '6ª'; break;
											case 5: day = 'sab'; break;
											case 6: day = 'dom'; break;
										}
										
										if( this.hotranDetails[i].days[d] ) 
											this.hotranDetails[i]['daysDetails'] += day;
										if( d < this.hotranDetails[i].length - 1 ) 
											this.hotranDetails[i]['daysDetails'] += ', ';

										console.log(this.hotranDetails[i].days);
										console.log(this.hotranDetails[i]['daysDetails']);
									}

									console.log(this.hotranDetails);
								}								
								
								$("#hotran-details-modal").modal('show');
							});							
						},
						toggleView: function(key) {
							this.views[key] = true;
							Object.keys(this.views).forEach(vk => {
								if(key != vk) this.views[vk] = !this.views[vk];
							});							
						},
						search: function() {							
							this.$http.get('/hotran/api', {params: {
								nome_empresa: this.hotran_company,
								aeroporto_origem: this.hotran_airport_origin,
								aeroporto_destino: this.hotran_airport_destination,
								tipo: this.hotran_type,
								aeronave: this.hotran_aircraft,
								data_solicitacao: this.hotran_date,
							}}).then(response => {
								this.hotrans = response.body;
								$("#hotran-search-modal").modal('hide');
								this.toggleView('search');
							});							
						},
						loadFields: function() {
							this.$http.get('/hotran/fields', {params: {field: 'nome_empresa'}}).then(response => {
								this.data.companies = response.body;								
							});
							this.$http.get('/hotran/fields', {params: {field: 'aeroporto_origem'}}).then(response => {
								this.data.airports_origin = response.body;								
							});
							this.$http.get('/hotran/fields', {params: {field: 'aeroporto_destino'}}).then(response => {
								this.data.airports_destination = response.body;								
							});
							this.$http.get('/hotran/fields', {params: {field: 'tipo'}}).then(response => {
								this.data.types = response.body;								
							});
							this.$http.get('/hotran/fields', {params: {field: 'aeronave'}}).then(response => {
								this.data.aircrafts = response.body;
							});
						}
					},
					mounted: function() {
						var today = "<%= today %>";
						this.loadFields();
						this.$http.get('/hotran/api', {params: {data_solicitacao: today}}).then(response => {
							this.todayHotrans = response.body;							
						});
						$('#hotran-date-input').datepicker({
							autoclose: true,
							disableTouchKeyboard: true,
							format: 'dd-mm-yyyy',
							language: "pt-BR",
							todayHighlight: true,
						}).on("changeDate", () => {
							this.hotran_date = $("#hotran-date-input").val();
						});
					}
				}); // hotran-app				
			});
		})(jQuery)
	</script>		
</head>
<body>	
	<div id="hotran-app">
		<div class="modal fade" v-model="hotran_details" id="hotran-details-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Detalhes do hotran {{ hotranDetails.cod_hotran }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">						
						<p>Malha {{ hotranDetails.nome_empresa }} ({{ hotranDetails.cod_empresa }})</p>
						<p>Solicitação {{ getFormattedDate(hotranDetails.data_solicitacao) }} - {{ hotranDetails.tipo }} - a Distribuir - Efetivo {{ getFormattedDate(hotranDetails.data_vigencia) }}.</p>						
						<p>
							{{ hotranDetails.cod_empresa }}{{ hotranDetails.voo }}
							- {{ hotranDetails.cod_origem }} {{ hotranDetails.horario_partida}} - {{ hotranDetails.cod_destino }} {{ hotranDetails.horario_chegada }} - {{ hotranDetails.aeronave }} ({{hotranDetails.assentos}} pax)
						</p>	
					</div>
				</div>
			</div>
		</div><!-- modal -->
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#"><span class="site-title">Autohotran</span> <span class="beta">beta!</span></a>
			<div class="collapse navbar-collapse" id="navmenu">
				<ul class="navbar-nav ml-auto"> <!-- Menu -->
					<li class="nav-item"><a class="nav-link" href="#" v-on:click="toggleView('today')">Hotrans de Hoje</a></li>
					<li class="nav-item">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="modal" data-target="#hotran-search-modal" id="hotran-search-toggler">Pesquisar Hotran</a>
						<div class="modal fade" id="hotran-search-modal"> <!-- modal -->
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Pesquisa de Hotran <i class="fa fa-plane"></i></h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p class="hotran-search-warning">** Ao deixar algum dos campos abaixo vazio, seu valor será indiferente na busca.</p>
										<div class="form-group">
											<label for="hotran_company">Companhia aérea</label>
											<select class="form-control" v-model="hotran_company">
												<option selected></option>
												<option v-for="company in data.companies">{{ company }}</option>
											</select>
										</div>
										<div class="form-group">
											<label for="hotran_origin">Aeroporto Origem</label>
											<select class="form-control" v-model="hotran_airport_origin">
												<option selected></option>
												<option v-for="airport in data.airports_origin">{{ airport }}</option>
											</select>
										</div>
										<div class="form-group">
											<label for="hotran_destination">Aeroporto Destino</label>
											<select class="form-control" v-model="hotran_airport_destination">
												<option selected></option>
												<option v-for="airport in data.airports_destination">{{ airport }}</option>
											</select>
										</div>										
										<div class="form-group">
											<label for="hotran_type">Tipo de hotran</label>
											<select class="form-control" v-model="hotran_type">
												<option selected></option>
												<option v-for="type in data.types">{{ type }}</option>
											</select>
										</div>
										<div class="form-group">
											<label for="hotran_aircraft">Aeronave</label>
											<select class="form-control" v-model="hotran_aircraft">
												<option selected></option>
												<option v-for="aircraft in data.aircrafts">{{ aircraft }}</option>
											</select>
										</div>
										<div class="form-group">
											<label for="hotran_date">Data</label>
											<input type="text" id="hotran-date-input" class="form-control" v-model="hotran_date" readonly>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" v-on:click="search" class="btn hotran-btn-submit">Buscar</button>
									</div>
								</div>
							</div>
						</div> <!-- modal -->					
					</li>						
				</ul>
			</div>
		</nav>
		<div id="today-hotrans" v-if="views.today"> <!-- today view -->
			<div class="container-fluid">
				<div class="hotran-update">
					<div>Última Atualização:</div>
					<div><%= lastUpdate.message %></div>
					<hr>
					<div>{{ todayHotrans.length }} novos hotrans foram capturados hoje!</div>
				</div>
				<div class="hotran-list">
					<table class="table table-bordered table-responsive">
						<thead>
							<tr>
								<td class="text-center">Companhia aérea</td>
								<td class="text-center">Voo</td>
								<td class="text-center">Aeronave</td>
								<td class="text-center">Assentos</td>
								<td class="text-center">Origem</td>
								<td class="text-center">Destino</td>
								<td class="text-center">Horário Partida</td>
								<td class="text-center">Horário Chegada</td>
								<td class="text-center">Solicitação</td>
								<td class="text-center">Vigência</td>
								<td class="text-center">Tipo</td>							
								<td class="text-center">Dados completos</td>
							</tr>
						</thead>
						<tbody>
							<tr v-for="hotran in todayHotrans">
								<td class="text-center">{{ hotran.nome_empresa }}</td>
								<td class="text-center">{{ hotran.cod_empresa + hotran.voo }}</td>
								<td class="text-center">{{ hotran.aeronave }}</td>
								<td class="text-center">{{ hotran.assentos }} pax</td>
								<td class="text-center">{{ hotran.aeroporto_origem }} ({{ hotran.cod_origem }})</td>
								<td class="text-center">{{ hotran.aeroporto_destino }} ({{ hotran.cod_destino }})</td>
								<td class="text-center">{{ hotran.horario_partida }}</td>
								<td class="text-center">{{ hotran.horario_chegada }}</td>
								<td class="text-center">{{ getFormattedDate(hotran.data_solicitacao) }}</td>
								<td class="text-center">{{ getFormattedDate(hotran.data_vigencia) }}</td>
								<td class="text-center">{{ hotran.tipo }}</td>				
								<td class="text-center"><a href="#" v-on:click="toggleModal(hotran)"><i class="fa fa-table" aria-hidden="true"></i></a></td>
							</tr>						
						</tbody> 
					</table>
				</div>				
			</div>
		</div>
		<div id="search-hotrans" v-if="views.search"> <!-- search view -->
			<div class="hotran-list">
				<table class="table table-bordered table-responsive">
					<thead>
						<tr>
							<td class="text-center">Companhia aérea</td>
							<td class="text-center">Voo</td>
							<td class="text-center">Aeronave</td>
							<td class="text-center">Assentos</td>
							<td class="text-center">Origem</td>
							<td class="text-center">Destino</td>
							<td class="text-center">Horário Partida</td>
							<td class="text-center">Horário Chegada</td>
							<td class="text-center">Solicitação</td>
							<td class="text-center">Vigência</td>
							<td class="text-center">Tipo</td>							
							<td class="text-center">Dados completos</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="hotran in hotrans">
							<td class="text-center">{{ hotran.nome_empresa }}</td>
							<td class="text-center">{{ hotran.cod_empresa + hotran.voo }}</td>
							<td class="text-center">{{ hotran.aeronave }}</td>
							<td class="text-center">{{ hotran.assentos }} pax</td>
							<td class="text-center">{{ hotran.aeroporto_origem }} ({{ hotran.cod_origem }})</td>
							<td class="text-center">{{ hotran.aeroporto_destino }} ({{ hotran.cod_destino }})</td>
							<td class="text-center">{{ hotran.horario_partida }}</td>
							<td class="text-center">{{ hotran.horario_chegada }}</td>
							<td class="text-center">{{ getFormattedDate(hotran.data_solicitacao) }}</td>
							<td class="text-center">{{ getFormattedDate(hotran.data_vigencia) }}</td>
							<td class="text-center">{{ hotran.tipo }}</td>					
							<td class="text-center"><a href="#" v-on:click="toggleModal(hotran)"><i class="fa fa-table" aria-hidden="true"></i></a></td>
						</tr>						
					</tbody> 
				</table>
			</div>
		</div>
	</div> <!-- #hotran-app -->
	<footer class="navbar footer">Copyright © <%= moment().tz('America/Fortaleza').format('YYYY') %> - Felzend Network Inc.</footer>
</body>
</html>